<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <%- include('../partials/head.html', {title: title}) -%>
    <script type="text/javascript" src="/javascripts/addmovie.js"></script>
    <% if(username == "")  { %>
    <script type="text/javascript">
        window.location.assign("/");
    </script>
    <% } %>
</head>
<body>
    <div class="container">
        <div class="container_wrap">
            <%- include('../partials/header_top.html') -%>
            <div class="content">
                <div class="register">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bs-component">
                                <form class="well" id="search-by-title-form" onsubmit="return false;">
                                    <div>
                                        <label class="control-label" for="t">Titulo:</label>
                                        <input type="text" id="t" name="t" class="input-small" placeholder="Titulo de la pelicula a buscar">
                                        &nbsp;&nbsp;
                                        <label class="control-label" for="y">Año:</label>
                                        <input type="text" id="y" name="y" class="input-small" style="width: 100px;">
                                        &nbsp;&nbsp;
                                        <label class="control-label">Sinopsis:</label>
                                        <!--<select name="plot" style="width: 100px;">
                                            <option value="short" selected="">Short</option>
                                            <option value="full">Full</option>
                                        </select>-->
                                        <input name="plot" style="width: 100px;" type="hidden" value="full">
                                        &nbsp;&nbsp;
                                        <!--label class="control-label">Response:</label-->
                                        <input name="r" style="width: 100px;" type="hidden" value="json">
                                        &nbsp;&nbsp;
                                        <button id="search-by-title-button" type="button" class="btn btn-primary">Buscar</button>
                                    </div>
                                    <div class="hide" id="search-by-title-request">
                                        <br />
                                        <p>Request:</p>
                                        <pre class="alert alert-info"><a href="javascript:;" target="_blank"></a></pre>
                                    </div>
                                    <div id="search-by-title-progress" class="hide progress progress-info progress-striped active">
                                        <div class="progress-bar" style="width: 100%;">
                                        </div>
                                    </div>
                                    <div class="hide" id="search-by-title-response">
                                        <p>Response:</p>
                                        <pre class="alert alert-success" style="margin-bottom: 0px; white-space: normal;"></pre>
                                    </div>
                                </form>
                                <form class="well" id="search-by-id-form" onsubmit="return false;">
                                    <div>
                                        <label class="control-label" for="i">IMDB ID:</label>
                                        <input type="text" id="i" name="i" class="input-small" placeholder="IMDb ID">
                                        &nbsp;&nbsp;
                                        <label class="control-label">Sinopsis:</label>
                                        <!--<select name="plot" style="width: 100px;">
                                            <option value="short" selected="">Short</option>
                                            <option value="full">Full</option>
                                        </select>-->
                                        <input name="plot" style="width: 100px;" type="hidden" value="full">
                                        &nbsp;&nbsp;
                                        <!-- label class="control-label">Response:</label-->
                                        <input name="r" style="width: 100px;" type="hidden" value="json">
                                        &nbsp;&nbsp;
                                        <button id="search-by-id-button" type="button" class="btn btn-primary">Buscar</button>
                                    </div>
                                    <div class="hide" id="search-by-id-request">
                                        <br />
                                        <p>Request:</p>
                                        <pre class="alert alert-info"><a href="javascript:;" target="_blank"></a></pre>
                                    </div>
                                    <div id="search-by-id-progress" class="hide progress progress-info progress-striped active">
                                        <div class="progress-bar" style="width: 100%;">
                                        </div>
                                    </div>
                                    <div class="hide" id="search-by-id-response">
                                        <p>Response:</p>
                                        <pre class="alert alert-success" style="margin-bottom: 0px; white-space: normal;"></pre>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8 login-right">
                        <h3>Agregar una pelicula a la base de datos</h3>
                        <p>Llena los campos correspondientes</p>
                        <form id="add-movie-form">
                            <div>
                                <span>Nombre:<label>*</label></span>
                                <input id="movie-name" name="name" type="text">
                            </div>
                            <div>
                                <span>Director:<label>*</label></span>
                                <input id="movie-directors" name="directors" type="text">
                            </div>
                            <div>
                                <span>Year<label>*</label></span>
                                <input id="movie-year" name="year" type="text">
                            </div>
                            <div>
                                <span>Released<label>*</label></span>
                                <input id="movie-release" name="release" type="text">
                            </div>
                            <div>
                                <span>Pais<label>*</label></span>
                                <input id="movie-country" name="country" type="text">
                            </div>
                            <div>
                                <span>Poster URL<label>*</label></span>
                                <input id="movie-poster" name="poster" type="text">
                            </div>
                            <div>
                                <span>Video URL<label>*</label></span>
                                <input id="movie-video" name="video" type="text">
                            </div>
                            <div>
                                <span>Banner URL</span>
                                <input id="movie-banner" name="banner" type="text">
                            </div>
                            <div>
                                <span>Actors</span>
                                <input id="movie-actors" name="actors" type="text">
                            </div>
                            <div>
                                <span>IMDB ID:<label>*</label></span>
                                <input id="movie-imdb" name="imdb" type="text">
                            </div>
                            <div>
                                <span>Categories:<label>*</label></span>
                                <input id="movie-categories" name="categories" type="text">
                            </div>
                            <div>
                                <span>Awards:<label>*</label></span>
                                <input id="movie-awards" name="awards" type="text">
                            </div>
                            <div>
                                <span>Metascore:<label>*</label></span>
                                <input id="movie-metascore" name="metascore" type="text">
                            </div>
                            <div>
                                <span>Language:<label>*</label></span>
                                <input id="movie-lang" name="lang" type="text">
                            </div>
                            <div>
                                <span>Sinopsis</span>
                                <textarea id="movie-plot" cols="78" rows="5" name="plot"> </textarea>
                            </div>
                            <input id="btn-agregar" type="submit" value="Agregar">
                        </form>
                        <div class="hide" id="add-movie-error">
                            <div class="alert alert-danger">
                                <strong>ERROR: </strong><span id="add-movie-error-message"></span>
                            </div>
                        </div>
                        <div class="hide" id="add-movie-success">
                            <div class="alert alert-success">
                                <strong>SUCCESS</strong>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <%- include('../partials/footer.html') -%>
    </div>
</body>
</html>