<div class="header_top">
    <div class="col-sm-4 logo"><a href="/"><img src="/images/logo.png" alt="" /></a></div>
    <div class="col-sm-4 nav">
        <ul>
            <!--<li><span class="simptip-position-bottom simptip-movable" data-tooltip="home"><a href="/movie"> </a></span></li>-->
            <li><span class="simptip-position-bottom simptip-movable" data-tooltip="movies"><a href="/movie"> </a> </span></li>
            <li><span class="simptip-position-bottom simptip-movable" data-tooltip="video"><a href="/movie"> </a></span></li>
            <% if(usertype == "admin") { %>
            <li><span class="simptip-position-bottom simptip-movable" data-tooltip="admin"><a href="/admin/addmovie"> </a></span></li>
            <% } %>
            <!--<li><span class="simptip-position-bottom simptip-movable" data-tooltip="tv"><a href="/movie"> </a></span></li>-->
            <!--<li><span class="simptip-position-bottom simptip-movable" data-tooltip="more"><a href="/admin/addmovie"> </a></span></li>-->
        </ul>
    </div>
    <div class="col-sm-4 header_right">
        <ul class="header_right_box">
            <li><span class="glyphicon glyphicon-user" aria-hidden="true" style="margin-top:6px"></span></li>
            <li>
                <% if(username == "") { %>
                <p><a href="/login">Log In</a></p>
                <% } else { %>
                <p><a href="#"><%= username %></a></p>
                <% } %>
            </li>
            <% if(username != "") { %>
            <li>
                <p>
                    <a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true" style="margin-top:2px"></span></a>
                </p>
            </li>
            <% } %>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>