<div class="header_top">
    <div class="col-sm-2 logo"><a href="/"><img src="/images/logo.jpeg" alt="" /></a></div>
    <div class="col-sm-2 nav">
        <ul>
            <!--<li><span class="simptip-position-bottom simptip-movable" data-tooltip="home"><a href="/movie"> </a></span></li>-->
            <li><span class="simptip-position-bottom simptip-movable" data-tooltip="movies"><a href="/movie"> </a> </span></li>
            <li><span class="simptip-position-bottom simptip-movable" data-tooltip="video"><a href="/movie"> </a></span></li>
            <% if(usertype == "admin") { %>
            <li><span class="simptip-position-bottom simptip-movable" data-tooltip="admin"><a href="/admin/addmovie"> </a></span></li>
            <% } %>
            <!--<li><span class="simptip-position-bottom simptip-movable" data-tooltip="tv"><a href="/movie"> </a></span></li>-->
            <!--<li><span class="simptip-position-bottom simptip-movable" data-tooltip="more"><a href="/admin/addmovie"> </a></span></li>-->
        </ul>
    </div>
    <div class="col-sm-4">
        <!--<div class="container-fluid">
            <form class="navbar-form" method="get" action="/search" style="margin-top:-3px">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div> 
            </form>
            
        </div>-->
        <div class="search">
            <form method="get" action="/search">
                <input type="text" value="Search..." name="q" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                <input type="submit" value="">
            </form>
        </div>
    </div>
    <div class="col-sm-4 header_right">
        <ul class="header_right_box">
            <li><span class="glyphicon glyphicon-user" aria-hidden="true" style="margin-top:6px"></span></li>
            <li>
                <% if(username == "") { %>
                <p><a href="/login">Log In</a></p>
                <% } else { %>
                <p><a href="#"><%= username %></a></p>
                <% } %>
            </li>
            <% if(username != "") { %>
            <li>
                <p>
                    <a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true" style="margin-top:2px"></span></a>
                </p>
            </li>
            <% } %>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>