<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <%- include('../partials/head.html', {title: title}) -%>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
                after: function () {
                    var currentSlide = $("." + this.namespace + "1_on").attr("id");
                    //console.log("Stopped animating and you are seeing '#" + currentSlide + "'");
                    var title = "";
                    var releasedate = "";
                    if (currentSlide.slice(-1) == "0") {
                        title = '<%= banners[0].name %>';
                        releasedate = '<%= banners[0].releasedate %>';
                    } else if (currentSlide.slice(-1) == "1") {
                        title = '<%= banners[1].name %>';
                        releasedate = '<%= banners[1].releasedate %>';
                    } else {
                        title = '<%= banners[2].name %>';
                        releasedate = '<%= banners[2].releasedate %>';
                    }
                    $('#slider-movie-title').html(title);
                    $('#slider-movie-releasedate').html(releasedate);
                }
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="container_wrap">
            <%- include('../partials/header_top.html') -%>
            <div class="slider">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider">
                        <li>
                            <img src="<%= banners[0].bannerurl %>" class="img-responsive" alt="" />
                            <div class="button">
                                <a href="/single/<%= banners[0].id %>" class="hvr-shutter-out-horizontal">Watch Now</a>
                            </div>
                        </li>
                        <li>
                            <img src="<%= banners[1].bannerurl %>" class="img-responsive" alt="" />
                            <div class="button">
                                <a href="/single/<%= banners[1].id %>" class="hvr-shutter-out-horizontal">Watch Now</a>
                            </div>
                        </li>
                        <li>
                            <img src="<%= banners[2].bannerurl %>" class="img-responsive" alt="" />
                            <div class="button">
                                <a href="/single/<%= banners[2].id %>" class="hvr-shutter-out-horizontal">Watch Now</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="banner_desc">
                    <div class="col-md-9">
                        <ul class="list_1">
                            <li id="slider-movie-title"><%= banners[0].name %></li>
                            <li>Published <span class="m_1" id="slider-movie-releasedate"><%= banners[0].releasedate %></span></li>
                            <!--<li>Updated <span class="m_1">Feb 20 2015</span></li>-->
                            <li>Rating <span class="m_1"><img src="images/rating.png" alt="" /></span></li>
                        </ul>
                    </div>
                    <!--<div class="col-md-3 grid_1">
                        <ul class="list_1 list_2">
                            <li><i class="icon1"> </i><p>2,548</p></li>
                            <li><i class="icon2"> </i><p>215</p></li>
                            <li><i class="icon3"> </i><p>546</p></li>
                        </ul>
                    </div>-->
                </div>
            </div>
            <div class="content">
                <div class="box_1">
                    <h1 class="m_2">Advanced Search</h1>
                    <div class="search">
                        <form class="form-inline" method="get" action="/search">
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="text" placeholder="Title" name="t">
                                </div>
                                <div class="col-md-3">
                                    <input type="text" placeholder="Director" name="d">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" placeholder="Country" name="c">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" placeholder="Year" name="y">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" placeholder="Category" name="g">
                                </div>
                                <input type="submit" value="">
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="box_2">
                    <div class="col-md-5 grid_3">
                        <div class="row_1">
                            <div class="col-md-6 grid_4">
                                <a href="/single/<%= movies[0].id %>">
                                    <div class="grid_2">
                                        <img src="<%= movies[0].posterurl %>" class="img-responsive" alt=""  />
                                        <div class="caption1">
                                            <!--<ul class="list_3">
                                                <li><i class="icon5"> </i><p>3,548</p></li>
                                            </ul>
                                            <i class="icon4"> </i>-->
                                            <p class="m_3"><%= movies[0].name %></p>
                                        </div>
                                    </div>
                                </a>
                                <a href="/single/<%= movies[9].id %>">
                                    <div class="grid_2 col_1">
                                        <img src="<%= movies[9].posterurl %>" class="img-responsive" alt="" />
                                        <div class="caption1">
                                            <!--<ul class="list_3">
                                                <li><i class="icon5"> </i><p>3,548</p></li>
                                            </ul>
                                            <i class="icon4"> </i>-->
                                            <p class="m_3"><%= movies[9].name %></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 grid_7">
                                <div class="col_2">
                                    <ul class="list_4">
                                        <!--<li><i class="icon1"> </i><p>2,548</p></li>
                                        <li><i class="icon2"> </i><p>215</p></li>
                                        <li><i class="icon3"> </i><p>546</p></li>-->
                                        <li>Rating : &nbsp;&nbsp;<p><img src="images/rating1.png" alt="" /></p></li>
                                        <li>Release Date : &nbsp;<span class="m_4"><%= movies[1].releasedate %></span> </li>
                                        <div class="clearfix"> </div>
                                    </ul>
                                    <div class="m_5"><a href="/single/<%= movies[1].id %>"><img src="<%= movies[1].posterurl %>" class="img-responsive" alt=""  /></a></div>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <!--<div class="row_2">
                            <a href="/single/<%= movies[2].id %>"><img src="<%= movies[2].posterurl %>" class="img-responsive" alt="" onerror="this.src='/images/image_placeholder.png';"/></a>
                        </div>-->
                        <div class="video">
                            <iframe width="100%" height="" src="https://www.youtube.com/embed/<%= movies[2].videourl %>" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-5 content_right">
                        <div class="row_3">
                            <div class="col-md-6 content_right-box">
                                <a href="/single/<%= movies[3].id %>">
                                    <div class="grid_2">
                                        <img src="<%= movies[3].posterurl %>" class="img-responsive" alt=""  />
                                        <div class="caption1">
                                            <!--<ul class="list_5">
                                                <li><i class="icon5"> </i><p>3,548</p></li>
                                            </ul>
                                            <i class="icon4 icon6"> </i>-->
                                            <p class="m_3"><%= movies[3].name %></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6 grid_5">
                                <a href="/single/<%= movies[4].id %>">
                                    <div class="grid_2">
                                        <img src="<%= movies[4].posterurl %>" class="img-responsive" alt=""  />
                                        <div class="caption1">
                                            <!--<ul class="list_5">
                                                <li><i class="icon5"> </i><p>3,548</p></li>
                                            </ul>
                                            <i class="icon4 icon6"> </i>-->
                                            <p class="m_3"><%= movies[4].name %></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="video">
                            <iframe width="100%" height="" src="https://www.youtube.com/embed/<%= movies[5].videourl %>" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="row_5">
                            <div class="col-md-6">
                                <div class="col_2">
                                    <ul class="list_4">
                                        <!--<li><i class="icon1"> </i><p>2,548</p></li>
                                        <li><i class="icon2"> </i><p>215</p></li>
                                        <li><i class="icon3"> </i><p>546</p></li>-->
                                        <li>Rating : &nbsp;&nbsp;<p><img src="images/rating1.png" alt=""></p></li>
                                        <li>Release : &nbsp;<span class="m_4"><%= movies[6].releasedate %></span> </li>
                                        <div class="clearfix"> </div>
                                    </ul>

                                </div>
                            </div>
                            <div class="col-md-6 m_6">
                                <a href="/single/<%= movies[6].id %>">
                                    <img src="<%= movies[6].posterurl %>" class="img-responsive" alt=""  />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 grid_6">
                        <div class="m_7"><a href="/single/<%= movies[7].id %>"><img src="<%= movies[7].posterurl %>" class="img-responsive" alt=""  /></a></div>
                        <div class="caption1">
                            <!--<ul class="list_5">
                                <li><i class="icon5"> </i><p>3,548</p></li>
                            </ul>
                            <i class="icon4 icon6"> </i>-->
                            <p class="m_3"><%= movies[7].name %></p>
                        </div>
                        <div class="col_2 col_3">
                            <ul class="list_4">
                                <!--<li><i class="icon1"> </i><p>2,548</p></li>
                                <li><i class="icon2"> </i><p>215</p></li>
                                <li><i class="icon3"> </i><p>546</p></li>-->
                                <li>Rating : &nbsp;&nbsp;<p><img src="images/rating1.png" alt=""></p></li>
                                <li>Release : &nbsp;<span class="m_4"><%= movies[1].releasedate %></span> </li>
                                <div class="clearfix"> </div>
                            </ul>
                            <div class="m_8"><a href="/single/<%= movies[8].id %>"><img src="<%= movies[8].posterurl %>" class="img-responsive" alt=""  /></a></div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <%- include('../partials/footer.html') -%>
    </div>
</body>
</html>