<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <%- include('../partials/head.html', {title: title}) -%>
    <script type="text/javascript" src="/javascripts/login.js"></script>
    <% if(username != "")  { %>
    <script type="text/javascript">
        window.location.assign("/");
    </script>
    <% } %>
</head>
<body>
    <div class="container">
        <div class="container_wrap">
            <%- include('../partials/header_top.html') -%>
            <div class="content">
                <div class="register">
                    <div class="col-md-6 login-left">
                        <h3>New Customers</h3>
                        <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                        <a class="acount-btn" href="/register">Crea una cuenta</a>
                    </div>
                    <div class="col-md-6 login-right">
                        <h3>Registered Customers</h3>
                        <p>If you have an account with us, please log in.</p>
                        <form id="login-user-form">
                            <div>
                                <span>Username: <label>*</label></span>
                                <input id="login-username" type="text" value="<%= userhint %>">
                            </div>
                            <div>
                                <span>Password<label>*</label></span>
                                <input id="login-password" type="text">
                            </div>
                            <input type="submit" value="Acceder">
                        </form>
                        <div class="hide" id="login-error">
                            <div class="alert alert-danger">
                                <strong>ERROR</strong> <span id="login-error-message"></span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                    <br>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <%- include('../partials/footer.html') -%>
    </div>
</body>
</html>