<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <%- include('../partials/head.html', {title: title}) -%>

</head>
<body>
    <div class="container">
        <div class="container_wrap">
            <%- include('../partials/header_top.html') -%>
            <div class="content">
                <% if(results.length == 0) { %>
                <h4>No results found</h4>
                <% } %>
                <% for(i = 0 ; i < results.length ; i++) { %>
                <% if(i % 3 == 0) { %>
                <div class="row row_1">
                    <% } %>
                    <div>
                        <div class="col-md-2 m_5">
                            <a href="/single/<%= results[i].movieid %>">
                                <img width="150" height="225" class="img-responsive" src="<%= results[i].posterurl %>" onerror="this.src='/images/image_placeholder.png';" />
                            </a>

                        </div>
                        <div class="col_2 col-md-2">
                            <ul class="list_4">
                                <li><a href="/single/<%= results[i].movieid %>"><strong><%= results[i].moviename %></strong></a></li>
                                <li>Director &nbsp;&nbsp; </li>
                                <li><span class="m_4"><%= results[i].directors %></span> </li>
                                <li>Release &nbsp;&nbsp; </li>
                                <li><span class="m_4"><%= results[i].releasedate %></span></li>
                                <li>Rating &nbsp;&nbsp; <p><img src="<%= results[i].rate %>" /></p></li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                    <% if(i % 3 == 2) { %>
                </div>
                <% } %>
                <% } %>
            </div>
        </div>
    </div>

    <div class="container">
        <%- include('../partials/footer.html') -%>
    </div>
</body>
</html>