<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <%- include('../partials/head.html', {title: title}) -%>
    <script type="text/javascript" src="/javascripts/register.js"></script>
    <% if(username != "")  { %>
    <script type="text/javascript">
        window.location.assign("/");
    </script>
    <% } %>
</head>
<body>
    <div class="container">
        <div class="container_wrap">
            <%- include('../partials/header_top.html') -%>
            <div class="content">
                <div class="register">
                    <form id="register-user-form">
                        <div class="register-top-grid">
                            <h3>Personal Information</h3>
                            <div>
                                <span>Nombre de usuario<label>*</label></span>
                                <input id="input-username" name="username" type="text">
                            </div>
                            <div>
                                <span>Nombre completo<label>*</label></span>
                                <input name="fullname" type="text">
                            </div>
                            <div>
                                <span>Email<label>*</label></span>
                                <input name="email" type="text">
                            </div>

                            <a class="news-letter" href="#">

                            </a>
                        </div>
                        <div class="register-bottom-grid">
                            <h3>Login Information</h3>
                            <div>
                                <span>Contraseña<label>*</label></span>
                                <input name="password" type="text">
                            </div>
                            <div>
                                <span>Confirmar Contraseña<label>*</label></span>
                                <input name="password_conf" type="text">
                            </div>

                        </div>

                        <div class="login-right">
                            <input id="register-button" type="submit" value="Registrarse">
                        </div>
                    </form>
                    <br>
                    <div class="hide" id="register-error">
                        <div class="alert alert-danger">
                            <strong>ERROR</strong> <span id="register-error-message"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <%- include('../partials/footer.html') -%>
    </div>
</body>
</html>