<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <%- include('../partials/head.html', {title: title}) -%>

</head>
<body>
    <div class="container">
        <div class="container_wrap">
            <%- include('../partials/header_top.html') -%>
            <div class="content">
                <div class="box_1">
                    <h1 class="m_2">Advanced Search</h1>
                    <div class="search">
                        <form class="form-inline" method="get" action="/search">
                            <div class="row">
                                <div class="col-md-3">
                                    <input type="text" placeholder="Title" name="t" value="<%= query.t %>">
                                </div>
                                <div class="col-md-3">
                                    <input type="text" placeholder="Director" name="d" value="<%= query.d %>">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" placeholder="Country" name="c" value="<%= query.c %>">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" placeholder="Year" name="y" value="<%= query.y %>">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" placeholder="Category" name="g" value="<%= query.g %>">
                                </div>
                                <input type="submit" value="">
                            </div>
                        </form>
                    </div>
                    <h1 class="m_2">Results</h1>
                    <div class="clearfix"> </div>
                </div>
                <% if(results.length == 0) { %>
                    <h4>No results found</h4>
                <% } %>
                <% for(i = 0 ; i < results.length ; i++) { %>
                    <% if(i % 3 == 0) { %>
                <div class="row row_1">
                    <% } %>
                    <div>
                        <div class="col-md-2 m_5">
                            <a href="/single/<%= results[i].id %>">
                                <img width="150" height="225" class="img-responsive" src="<%= results[i].posterurl %>" onerror="this.src='/images/image_placeholder.png';" />
                            </a>

                        </div>
                        <div class="col_2 col-md-2">
                            <ul class="list_4">
                                <li><a href="/single/<%= results[i].id %>"><%= results[i].name %></a></li>
                                <li>Director &nbsp;&nbsp; </li>
                                <li><span class="m_4"><%= results[i].directors %></span> </li>
                                <li>Release &nbsp;&nbsp; </li>
                                <li><span class="m_4"><%= results[i].releasedate %></span></li>
                                <li>Rating &nbsp;&nbsp; <p><img src="images/rating1.png" /></p></li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                    </div>
                    <% if(i % 3 == 2) { %>
                </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>

    <div class="container">
        <%- include('../partials/footer.html') -%>
    </div>
</body>
</html>